<launch>

<node pkg="comm_tcp" name="cmd_to_ticks" type="cmd_to_ticks.py" output="screen"/>
<node pkg="comm_tcp" name="client_node_batt" type="client_node_batt" args="192.168.178.63 12400 -e" output="screen"/>
<node pkg="comm_tcp" name="battery_pub_melodic" type="battery_pub_melodic.py" output="screen"/>

</launch>